*{margin: 0; padding: 0; box-sizing: border-box;}

:root.light{
  --bg-overlay: rgba(255,255,255,.15);
  --text-color: #1a1a1a;
  --card-bg: rgb(241,202,102,.80);
  --accent-color: rgb(90,60,10);
}

:root.dark{
  --bg-overlay: rgba(0,0,0,.55);
  --text-color: #f0f0f0;
  --card-bg: rgb(30,30,40,.85);
  --accent-color: rgb(237, 231, 10);
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(var(--bg-overlay), var(--bg-overlay)), url("../public/bg-body.jpg") fixed no-repeat;
  background-size: cover;
  color:var(--text-color);
  transition: background .3s, color .3s;
}